<section>
  <div class="input-and-tasks">
    <div class="add-task | centered-items dark-m-bg-items" draggable="true">
      <input type="checkbox" name="dupa" value="" />
      <input
        class="dark-m-bg-items"
        type="text"
        placeholder="Create a new todo..."
        name="addTask"
        id="todoInput"
      />
    </div>
    <ul class="dark-m-bg-items">
      <li class="flex-space-between">
        <label>
          <input type="checkbox" name="" value="" />
          Jog around the park 3x
        </label>
        <button>
          <img src="../../../assets/images/icon-cross.svg" alt="close icon" />
        </button>
      </li>
      <li class="flex-space-between">
        <label>
          <input type="checkbox" name="" value="" />
          10 minutes meditation</label
        >
        <button>
          <img src="../../../assets/images/icon-cross.svg" alt="close icon" />
        </button>
      </li>
      <li class="flex-space-between">
        <label>
          <input type="checkbox" name="" value="" />
          Read for 1 hour</label
        >
        <button>
          <img src="../../../assets/images/icon-cross.svg" alt="close icon" />
        </button>
      </li>
      <li class="flex-space-between">
        <label>
          <input type="checkbox" name="" value="" />
          Pick up groceries</label
        >
        <button>
          <img src="../../../assets/images/icon-cross.svg" alt="close icon" />
        </button>
      </li>
      <li class="flex-space-between">
        <label>
          <input type="checkbox" name="" value="" />
          Complete Todo App on Frontend Mentor</label
        >
        <button>
          <img src="../../../assets/images/icon-cross.svg" alt="close icon" />
        </button>
      </li>
      <div class="list-counter | flex-space-between">
        <span>5 items left</span>
        <div class="list-toggle | dark-m-bg-items" *ngIf="!isSmallDevice">
          <input
            type="radio"
            id="radioOne"
            name="switch-one"
            value="all"
            checked
          />
          <label for="radioOne">All</label>
          <input type="radio" id="radioTwo" name="switch-one" value="active" />
          <label for="radioTwo">Active</label>
          <input
            type="radio"
            id="radioThree"
            name="switch-one"
            value="completed"
          />
          <label for="radioThree">Completed</label>
        </div>
        <button>Clear Completed</button>
      </div>
    </ul>
    <div class="list-toggle | dark-m-bg-items" *ngIf="isSmallDevice">
      <input type="radio" id="radioOne" name="switch-one" value="all" checked />
      <label for="radioOne">All</label>
      <input type="radio" id="radioTwo" name="switch-one" value="active" />
      <label for="radioTwo">Active</label>
      <input type="radio" id="radioThree" name="switch-one" value="completed" />
      <label for="radioThree">Completed</label>
    </div>
    <div>
      <p class="drop-place" id="dropPlace">Drag and drop to reorder list</p>
    </div>
  </div>
</section>
