@use "../../../scss/colors" as colors;
/* general classes */
.dark-m-bg-items {
  background-color: colors.$clr-dark-m-600;
}

button {
  cursor: pointer;
}

/* component styles */

section {
  display: flex;
  justify-content: center;

  .input-and-tasks {
    display: grid;
    gap: 2rem;
    width: 100%;
    margin-top: 1rem;
    margin-inline: 2rem;

    .add-task {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.75rem 1.5rem;
      border-radius: 0.5rem;

      input[type="text"] {
        width: 100%;
        font-size: 1.5rem;
        color: colors.$clr-dark-m-200;
        border: none;
        outline: none;
        padding: 0.5rem;
      }
      input[type="text"]::placeholder {
        color: colors.$clr-dark-m-200;
        font-size: 1.25rem;
      }
    }

    .drop-place {
      border: 1px solid white;
      display: flex;
      justify-content: center;
      margin: 2rem 0 6rem 0;
      color: colors.$clr-dark-m-400;
    }

    .list-and-counter {
      border-radius: 0.5rem;
      overflow: auto;

      .list-counter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem;
        font-size: 1.5rem;
        color: colors.$clr-dark-m-400;

        button {
          background-color: transparent;
          border: none;
          color: colors.$clr-dark-m-400;
          transition: 0.3s color;
        }

        button:hover {
          color: colors.$clr-dark-m-200;
        }
      }
    }
  }
}

/* desktop */
@media (min-width: 992px) {
  section .input-and-tasks {
    justify-content: center;
  }

  section .input-and-tasks > * {
    width: 38vw;
  }

  .list-counter {
    padding: 0 1.5rem !important;
  }
}
