<section>
  <div class="input-and-tasks">
    <div class="add-task | dark-m-bg-items" draggable="true">
      <ui-checkbox></ui-checkbox>
      <input
        class="dark-m-bg-items"
        type="text"
        placeholder="Create a new todo..."
        name="addTask"
        id="todoInput"
      />
    </div>
    <div class="list-and-counter | dark-m-bg-items">
      <ui-list [list]="listData"></ui-list>
      <div class="list-counter | dark-m-bg-items">
        <span>5 items left</span>
        <ui-button-toggle
          *ngIf="!isSmallDevice"
          [buttonsToggle]="buttonsToggle"
        ></ui-button-toggle>
        <button>Clear Completed</button>
      </div>
    </div>
    <ui-button-toggle
      *ngIf="isSmallDevice"
      [buttonsToggle]="buttonsToggle"
    ></ui-button-toggle>
    <div>
      <p class="drop-place" id="dropPlace">Drag and drop to reorder list</p>
    </div>
  </div>
</section>
