@use "../../../scss/colors" as colors;
.buttons-toggle {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1.5rem;
  background-color: colors.$clr-dark-m-600;
  border-radius: 0.5rem;

  input[type="radio"] {
    position: absolute;
    height: 1px;
    border: none;
  }

  label {
    color: colors.$clr-dark-m-200;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s color;
  }

  input[type="radio"]:checked + label {
    color: colors.$clr-primary-300;
  }
}

/* lightmode */
.bg-clr-light-m-100 {
  background-color: colors.$clr-light-m-100 !important;
}

.box-sh-light-m {
  box-shadow: 0 0 15px colors.$clr-light-m-200;
}

@media (min-width: 992px) {
  .box-sh-light-m {
    box-shadow: none;
  }
}
