@use "../../../scss/fonts" as fonts;

.container {
  position: relative;
  z-index: 1;
  min-height: 30rem;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem;

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      transition: 0.3s transform;
      img {
        height: 2rem;
      }
    }

    button:hover {
      transform: scale(1.2);
    }

    h1 {
      font-size: 4rem;
      font-weight: fonts.$fw-bold;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 7px;
    }
  }
}

.container::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: url("../../../assets/images/bg-mobile-dark.jpg");
  background-size: cover;
  animation: start-app 0.3s ease-in-out;
}

/* tablet > */

@media (min-width: 768px) {
  .container::before {
    background-image: url("../../../assets/images/bg-desktop-dark.jpg");
  }
}

/* desktop */

@media (min-width: 992px) {
  .container div {
    display: flex;
    justify-content: space-evenly;
    padding-block: 6rem;
  }
}

/* light mode */

.light-mode::before {
  background-image: url("../../../assets/images/bg-mobile-light.jpg");
  animation: start-app 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .light-mode::before {
    background-image: url("../../../assets/images/bg-desktop-light.jpg");
  }
}

@keyframes start-app {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
