@use "../scss/colors" as colors;

:host {
  min-height: 100vh;
  display: block;
}

main {
  min-height: 100vh;
  background-color: colors.$clr-dark-m-700;
}

/* lightmode */
.light-m-bg-clr {
  background-color: colors.$clr-light-m-100;
}
