@use "../scss/colors" as colors;

:host {
  min-height: 100vh;
  display: block;
}

main {
  min-height: 100vh;
  background-color: colors.$clr-dark-m-700;

  p {
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    color: colors.$clr-primary-100;
  }
}

/* lightmode */
.light-m-bg-clr {
  background-color: colors.$clr-light-m-100;
}
