@use "../scss/colors" as colors;

:host {
  min-height: 100vh;
  display: block;
}

main {
  min-height: 100vh;
  background-color: colors.$clr-dark-m-700;
}

/* lightmode */
.light-m-bg-clr {
  background-color: colors.$clr-light-m-100;
}

/* .load-app {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(251, 246, 246);
  z-index: 999;
  width: 100%;
  height: 100%;

  p {
    position: fixed;
    top: 50%;
    left: 50%;
  }
} */
